{% extends "index.twig" %}

	{# BODY block will be overidden #}
{% block BODY %}
    <div class="banner-top">
        <div class="container">
            <h1 style="text-align:center">CHECKOUT</h1>
            <em></em>
        </div>
    </div>
    <!--login-->
    <div class="container">

        <div class="login" style="margin-left: 40px; margin-right: auto;">
            <h3>Shipping Information</h3><br>
            <form action="checkout.php" method="post">
               <table>
                   <tr>
                    <div style="padding: 20px;">
                        Firstname:   <input type="text" placeholder="Rafik" required name="firstname">
                        <span class="error">* </span>
                    </div> </tr>
                   <tr>
                    <div style="padding: 20px;">
                        Lastname:   <input type="text" placeholder="Iliasu" required name="lastname">
                        <span class="error">* </span>
                    </div></tr>
                   <tr>
                    <div style="padding: 20px;">
                        Address:   <input type="text" placeholder="420, Jumpstreet" required name="address">
                        <span class="error">* </span>
                    </div></tr>
                   <tr>
                    <div style="padding: 20px;">
                        City:   <input type="text" placeholder="Detroit" required name="city">
                        <span class="error">* </span>
                    </div></tr>
                   <tr>
                    <div style="padding: 20px;">
                        State:    <input type="text" placeholder="Michigan" name="state">
                    </div></tr>
                   <tr>
                    <div style="padding: 20px;">
                        Zipcode:    <input type="text" placeholder="90210" required name="zipcode">
                    </div></tr>
                   <tr>
                    <div style="padding: 20px;">
                        Country:    <input type="text" placeholder="USA" required name="country">
                        <span class="error">* </span>
                    </div></tr>
                   <tr>
                    <div style="padding: 20px;">
                        Phone number:   <input type="text" placeholder="0549907574" required name="phone">
                        <span class="error">* </span>
                    </div></tr>
                   <tr>
                       <div style="padding: 20px;">
                           Email:   <input type="text" placeholder="edward.iliasu@ashesi.edu.gh" required name="email">
                           <span class="error">* </span>
                       </div></tr>
                   <tr>
                    <div style="padding: 20px;"><input type="submit" value="SUBMIT"></div></tr>
               </table>

            </form> <br>
        </div>
    </div>


{% endblock %}