{% extends "index.tpl" %}
{% block HEADER %}
{% endblock %}
	{# BODY block will be overidden #}
{% block BODY %}
    <h3><b>Order Confirmation</b></h3><br>
    <h2>GOOD NEWS! {{ fname }}, your order is being processed!</h2>
    <div>
        <span><a href="../index.php">GO TO HOMEPAGE </a></span>
    </div>
{% endblock %}