{% extends "index.twig" %}

	{# BODY block will be overidden #}
{% block BODY %}
    <div style="margin-left:80px;">
    <h3><b>Order Confirmation</b></h3><br>
    <h2>GOOD NEWS, {{ fname }}! Your order is being processed!</h2>
    <span><a href="index.php">Go back HOME</a></span>
    </div>
{% endblock %}